@import "../../styles/responsive.scss";

.documents {
  padding: 0 30px;

  @include phone-only {
    padding-inline: 10px;
  }

  table {
    thead {
      tr {
        th {
          text-align: start;

          @include phone-low {
            text-align: center;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          & > div {
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            margin: 10px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include phone-low {
              flex-direction: column;
            }

            & > div {
              &:first-child {
                text-align: start;

                @include phone-low {
                  text-align: center;
                }
              }

              &:last-of-type {
                display: flex;
                gap: 50px;

                a {
                  color: #5ba1e2;
                }
              }
            }
          }
        }
      }
    }
  }
}
