@import "../../../styles/responsive.scss";

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  button {
    margin-top: 20px;

    a {
      padding: 19px 45px;
      color: #ffffff;
    }
  }
}

.td_btn {
  background: #3f4352;
  padding: 9px 10px;
  margin-right: 20px;

  a {
    padding: 9px 10px;
    color: #ffffff;
  }
}

.adaptive {
  margin-inline: 20px;

  table {
    @include desktop-down {
      thead {
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      tbody {
        background-color: transparent;

        tr {
          display: block;
          margin-bottom: 20px;
          border: 1px solid #ddd;
          border-bottom: 3px solid #bebebe;
          padding: 10px 20px;

          &::after {
            background: transparent;
          }

          button {
            margin-right: 0;
            padding-inline: 0;
          }

          td {
            display: block;
            font-size: 0.8em;
            text-align: right;

            &:not(:last-child) {
              border-bottom: 1px solid #ddd;
            }

            &::before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
