.btn {
  display: flex;
  justify-content: center;

  button {
    margin-top: 20px;

    a {
      padding: 19px 45px;
      color: #ffffff;
    }
  }
}

.td_btn {
  background: #3f4352;
  padding: 9px 10px;
  margin-right: 20px;

  a {
    padding: 9px 10px;
    color: #ffffff;
  }
}
