.mb {
  margin-bottom: 10px;
}

.block_btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn,
.btn_last {
  padding: 19px 23px;
}

.btn_last {
  background-color: #2f3241;
}

.link {
  width: 100%;
  display: inherit;
}
