.top_title {
  position: relative;
  background-color: #2f3241;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    background: #294bb8;
    box-shadow: -400px 0px 60px -45px #2985b8 inset;
    z-index: -1;
  }

  div {
    padding: 12px 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.05em;
    background: #2f3241;
    color: #ffffff;
    position: relative;
    border-radius: 5px 5px 0 0;
    margin-bottom: 2px;

    &::after {
      content: "";
      position: absolute;
      top: -1.5px;
      left: -2px;
      height: calc(100% + 2px);
      width: calc(100% + 4px);
      border-radius: 5px 5px 0 0;
      background: #294bb8;
      box-shadow: -130px 0px 60px -45px #2985b8 inset;
      z-index: -1;
    }
  }
}

.block_input {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 0;
  gap: 12px;

  fieldset > input,
  fieldset,
  button {
    width: 100%;
  }

  input {
    padding-block: 16px;
  }

  button {
    padding-block: 18px;
    background-color: #2f3241;
  }
}
