@import "../../styles//responsive.scss";

.block_data {
  padding: 0 10%;

  & > div:not(.files) {
    margin-bottom: 50px;

    &:nth-child(4) {
      margin-bottom: 0;
    }

    &:last-child {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
    }

    & > button {
      padding: 13px 28px;
      margin-bottom: 30px;
    }

    h2 {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    fieldset {
      border: 0;
      display: grid;
      grid-template-columns: 0.4fr 1fr;
      gap: 20px;
      align-items: center;

      &:not(:first-of-type) {
        margin-top: 20px;
      }

      @include tablet-portrait-down {
        grid-template-columns: 1fr;
        gap: 10px;
      }

      & > div {
        &:first-child {
          color: #8a8d9d;
          text-align: end;

          @include tablet-portrait-down {
            text-align: start;
          }
        }

        &:nth-child(2) {
          color: #ffffff;
        }
      }

      & > button {
        max-width: 160px;
        padding: 11px 17px;
        background: #2f3241;
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
      }

      input {
        width: 100%;
      }

      input[type="date"]::-webkit-inner-spin-button,
      input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }

      input[type="date"] {
        max-width: 137px;
      }
    }

    & > div {
      display: grid;
      grid-template-columns: 0.4fr 1fr;
      gap: 20px;
      margin-top: 5px;
      color: #ff4b55;

      @include tablet-portrait-down {
        grid-template-columns: 1fr;
        gap: 0;
      }
    }
  }
}

.files {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  margin-bottom: 50px;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:first-of-type) {
      margin-top: 10px;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 20px;

      & > * {
        color: #8a8d9d;
      }

      a:hover {
        color: #6f7078;
      }

      &:last-child {
        img {
          cursor: pointer;
        }
      }
    }
  }
}
