.lng {
  position: relative;
  align-self: baseline;

  div {
    cursor: pointer;
    display: flex;
    transition: all 0.3s;

    &:is(.active) {
      background: #292c39;
    }

    &:first-child {
      padding: 5px 5px;
      border-radius: 5px 5px 0 0;
      padding-top: 17px;
    }

    &:last-child {
      padding: 17px 5px;
      padding-top: 5px;
      border-radius: 0 0 5px 5px;
      position: absolute;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-20px);

      &:is(.active) {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
