@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto.woff2") format("woff2"),
    url("../assets/fonts/Roboto/Roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Captcha";
  src: url("../assets/fonts/Captcha/CaptchaCode.woff2") format("woff2"),
    url("../assets/fonts/Captcha/CaptchaCode.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
