.margin {
  margin-bottom: 5px;
}

.btn {
  padding: 19px 0;
  margin-top: 10px;
}

.error {
  background-color: rgba(255, 71, 71, 0.15);
  border-radius: 5px;
  color: #ff4747;
  font-weight: 500;
  margin-top: 20px;
  padding: 12px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  animation: error 0.3s ease-in-out;

  @keyframes error {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
