header {
  position: relative;
  justify-content: space-between;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      93.83deg,
      #294bb8 0%,
      #2985b8 100%,
      #2985b8 100%
    );
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1px;

    li {
      border-radius: 10px 10px 0px 0px;
      background: #2f3241;
      cursor: default;
      position: relative;

      &:last-child a {
        padding: 17px 20px;
      }

      &,
      button {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-align: left;
      }

      button {
        gap: 14px;
        padding: 17px 20px;
        background: transparent;
        color: #6b6e7b;

        img {
          transition: rotate 0.3s;

          &:is(.active) {
            rotate: 180deg;
          }
        }
      }

      a {
        color: #6b6e7b;
        text-decoration: none;
      }

      &:first-child {
        background: linear-gradient(
          93.83deg,
          #294bb8 0%,
          #2985b8 100%,
          #2985b8 100%
        );

        button {
          color: #ffffff;
        }
      }
    }
  }

  & > div {
    .btn-terminal {
      padding: 8px 20px;
      margin-right: 9px;
      margin-left: 37px;
    }

    .profile {
      margin-right: 3px;
      border-radius: 5px 5px 0 0;
      color: #6b6e7b;
      align-items: baseline;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0em;
      background: transparent;
      position: relative;
      display: grid;
      transition: background 0.3s;

      & > div {
        &:first-child {
          padding: 15px 20px;

          &:is(.active) {
            filter: invert(55%) sepia(88%) saturate(5400%) hue-rotate(199deg)
              brightness(94%) contrast(86%);
          }

          &:hover {
            filter: invert(55%) sepia(88%) saturate(5400%) hue-rotate(199deg)
              brightness(94%) contrast(86%);
          }
        }

        &:last-child {
          position: absolute;
          top: 100%;
          background: #2f3241c8;
          width: 100%;
          z-index: 1;
          border-radius: 0 0 5px 5px;
          padding: 20px;
          display: grid;
          gap: 20px;
          transform: translateY(-40px);
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s;

          &:is(.active) {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
          }

          & > div {
            color: #ffffff;
            font-weight: 400;
            text-align: start;

            &:hover {
              filter: invert(55%) sepia(88%) saturate(5400%) hue-rotate(199deg)
                brightness(94%) contrast(86%);
            }
          }
        }
      }

      &:is(.active) {
        background: #2f3241;
      }

      img {
        margin-right: 15px;
      }
    }

    .lng {
      margin-right: 5px;
    }
  }

  &,
  nav,
  nav ul {
    display: flex;
  }

  .h_dropdown {
    position: absolute;
    top: 100%;
    padding: 20px;
    padding-right: 40px;
    left: 0;
    background: #2f3241;
    width: 211px;
    display: grid;
    gap: 20px;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s;

    &:is(.active) {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    a {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;

      &:hover {
        color: #2179e0;
      }
    }
  }
}
