@import "../../../../styles/responsive.scss";

.block_data {
  padding: 0 15%;

  @include phone-only {
    padding: 0 10%;
  }

  fieldset {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;

    @include tablet-portrait-down {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 5px;
    }

    &:last-child {
      margin-bottom: 20px;
    }

    div:first-child {
      color: #8a8d9d;
      text-align: end;

      @include tablet-portrait-down {
        text-align: start;
      }
    }

    div:last-child {
      color: #ffffff;
    }
  }

  .btn {
    padding: 13px 51px;

    @include phone-only {
      padding-inline: 0;
      width: 100%;
    }
  }
}
