@import "../../../styles/responsive.scss";

.main_appeals {
  padding: 0 30px;

  tr {
    cursor: pointer;

    td:nth-child(5) {
      & > div:first-child {
        max-width: 50px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    td:last-child {
      padding-right: 20px;

      @include tablet-landscape-down {
        padding-right: 0;
      }
    }
  }

  & > div {
    &:nth-child(1) {
      gap: 10px;
      position: relative;
      z-index: 0;

      @include tablet-portrait-down {
        flex-direction: column;
      }
    }

    &:nth-child(2) {
      margin-bottom: 30px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 12px;
      position: relative;
      align-items: flex-end;
      z-index: 0;

      @include tablet-landscape-down {
        grid-template-columns: repeat(2, 1fr);
      }

      @include tablet-portrait-down {
        grid-template-columns: repeat(1, 1fr);
      }

      input {
        padding: 16px 20px;
        width: 100%;
      }
    }
  }
}

.btn {
  background: #2f3241;
  padding: 0 75px;
  height: 50px;
}

.t_btn {
  background: #2f3241;
  height: 35px;
  padding: 0;

  &:last-child {
    padding-inline: 40px;
  }

  a {
    height: 100%;
    padding-block: 9px;
    color: #ffffff;
    padding-inline: 40px;
  }
}

.adaptive {
  table {
    @include tablet-landscape-down {
      thead {
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      tbody {
        background-color: transparent;

        tr {
          display: block;
          margin-bottom: 20px;
          border: 1px solid #ddd;
          border-bottom: 3px solid #bebebe;
          padding: 10px 20px;

          &::after {
            background: transparent;
          }

          button {
            margin-right: 0;
            padding-inline: 0;
          }

          td {
            display: flex;
            font-size: 0.8em;
            justify-content: space-between;
            width: 100%;

            &:not(:last-child) {
              border-bottom: 1px solid #ddd;
            }

            &::before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }

      tfoot {
        tr {
          td {
            border-radius: 5px;
          }
        }
      }
    }
  }
}
