@import "../../../styles/responsive.scss";

.transactions {
  padding: 0 30px;

  @include phone-only {
    padding-inline: 20px;
  }

  @include phone-low {
    padding-inline: 10px;
  }

  fieldset {
    border: 0;

    & > div {
      &:first-of-type {
        color: #6b6e7b;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        margin-bottom: 10px;
      }

      &:last-of-type {
        width: 100%;
        max-width: 206px;
      }
    }
  }

  table {
    margin-top: 20px;

    td {
      padding-inline: 15px;
    }
  }

  .money {
    background: #4c5f60;
    width: 100%;
    text-align: end;
    padding: 14px 20px;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    border-radius: 5px;
    margin-bottom: 30px;

    span {
      font-weight: 400;
    }
  }
}

.adaptive {
  margin-inline: 0;

  table {
    @include tablet-landscape-down {
      thead {
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      tbody {
        background-color: transparent;

        tr {
          display: block;
          margin-bottom: 20px;
          border: solid #ddd;
          border-width: 1px 1px 3px 1px;
          padding: 10px 20px;

          &:last-child td:first-child {
            border-bottom-left-radius: 0;
          }

          &::after {
            background: transparent;
          }

          button {
            margin-right: 0;
            padding-inline: 0;
          }

          td {
            display: block;
            font-size: 0.8em;
            text-align: right;
            padding-inline: 0;

            &:not(:last-child) {
              border-bottom: 1px solid #ddd;
            }

            &::before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
