@import "../../../styles/responsive.scss";

.create_appeals {
  width: 100%;
  flex-direction: column;

  @include phone-only {
    padding-inline: 10px;
  }

  & > button {
    width: 100%;
    max-width: 396px;
    padding: 16px 0;
    margin-block: 30px;
  }

  fieldset {
    max-width: 396px;
    width: 100%;

    input,
    textarea,
    div {
      width: 100%;
    }

    textarea {
      height: 130px;
    }
  }
}

.download {
  max-width: 396px;
  width: 100%;
  cursor: pointer;

  img {
    margin-right: 11px;
  }

  div {
    color: #37cf74;
  }
}

.img_preview {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-top: 15px;
  gap: 10px;

  div {
    position: relative;
    animation: show 0.3s ease-in-out;

    @keyframes show {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    & > img {
      object-fit: cover;
    }

    button {
      padding: 5px 10px;
      background-color: #4e5266de;
      border-radius: 10px;
      position: absolute;
      top: 5px;
      right: 5px;

      &:hover {
        background-color: #373a45db;
      }
    }
  }
}
