@import "../../../styles/responsive.scss";

.img_preview {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(8, auto);
  justify-content: flex-start;
  margin-top: 15px;
  gap: 10px;
  margin-bottom: 20px;

  @include tablet-landscape-down {
    grid-template-columns: repeat(6, auto);
  }

  @include tablet-portrait-down {
    grid-template-columns: repeat(4, auto);
  }

  @include phone-only {
    grid-template-columns: repeat(3, auto);
  }

  @include phone-low {
    grid-template-columns: repeat(2, auto);
  }

  div {
    position: relative;
    animation: show 0.3s ease-in-out;

    @keyframes show {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    & > img {
      object-fit: cover;
    }

    button {
      padding: 5px 10px;
      background-color: #4e5266de;
      border-radius: 10px;
      position: absolute;
      top: 5px;
      right: 5px;

      @include phone-only {
        bottom: 10px;
        top: auto;
        right: 50%;
        translate: 50% 0;
      }

      &:hover {
        background-color: #373a45db;
      }
    }
  }
}

.download {
  justify-self: flex-start;
  max-width: 396px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;

  img {
    margin-right: 11px;
  }

  div {
    color: #37cf74;
  }
}

.history_appeals {
  padding: 0 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-rows: 1fr auto auto;
  height: 90%;

  .input {
    textarea {
      height: 130px;
      width: 100%;
      padding: 20px;
    }
  }

  .check {
    gap: 14px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }

  button {
    padding: 16px 50px;
    margin-bottom: 0;

    @include phone-only {
      width: 100%;
      padding-inline: 0;
    }
  }

  .header_apples {
    padding: 18px 30px;
    background: #4d5060;
    border-radius: 5px 5px 0px 0px;

    div {
      &:first-child {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        margin-bottom: 5px;
      }

      &:last-child {
        color: #8a8d9d;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
      }
    }
  }

  .body_apples {
    background: #353847;
    border-radius: 0px 0px 5px 5px;
    max-height: 295px;
    overflow: auto;
    scroll-behavior: smooth;

    & > div {
      padding: 20px 30px;

      &:not(:last-child) {
        border-bottom: 1px solid #4d5060;
      }

      .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        @include phone-only {
          justify-content: flex-start;
          flex-direction: column;
        }

        div {
          letter-spacing: 0em;

          &:first-child {
            color: #ffffff;
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;

            @include phone-only {
              margin-bottom: 5px;
            }
          }

          &:last-child {
            color: #8a8d9d;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
          }
        }
      }

      .status {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        color: #8a8d9d;
        margin-bottom: 5px;
      }

      .message {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        max-width: 800px;
        width: 100%;
        margin-top: 10px;

        @include tablet-landscape-down {
          max-width: 500px;
        }

        @include tablet-portrait-down {
          max-width: 300px;
        }
      }

      .files {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        img {
          object-fit: cover;
          cursor: zoom-in;
        }
      }
    }
  }
}

.closed {
  position: relative;
  z-index: 0;
  margin-top: auto;

  div {
    color: #ff4b55;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  button {
    background: #2f3241;
  }
}
