@import "../../../styles/responsive.scss";

.conclusion {
  table {
    tbody {
      tr {
        td {
          height: 65px;

          img {
            margin-right: 20px;
            object-fit: contain;
          }

          button {
            background: #3f4352;
            height: 100%;

            a {
              padding: 8px 16px;
              color: #ffffff;
            }
          }
        }

        td:first-child {
          justify-content: flex-start;
          padding-left: 30px;

          @include tablet-landscape-down {
            display: flex;
            padding-left: 0;

            img {
              margin-left: auto;
            }
          }

          @include phone-only {
            display: block;

            img {
              display: none;
            }
          }
        }

        td:last-child {
          padding-right: 30px;

          @include tablet-landscape-down {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.adaptive {
  margin-inline: 20px;

  table {
    @include tablet-landscape-down {
      thead {
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      tbody {
        background-color: transparent;

        tr {
          display: block;
          margin-bottom: 20px;
          border: 1px solid #ddd;
          border-bottom: 3px solid #bebebe;
          padding: 10px 20px;

          &::after {
            background: transparent;
          }

          button {
            margin-right: 0;
            padding-inline: 0;
          }

          td {
            display: block;
            font-size: 0.8em;
            text-align: right;

            &:not(:last-child) {
              border-bottom: 1px solid #ddd;
            }

            &::before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
